@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline{
    --color-bg: #0a0a0a;          /* Gray 950 style */
  --color-surface: #111111;     /* Card background */
  --color-primary: #ff1f3d;     /* Shiny red */
  --color-primary-hover: #e11d48;
  --color-text: #ffffff;
  --color-muted: #a1a1aa;
}
